.ListContainer {
  border-right: 1px solid var(--mb-color-border);
  height: 100%;
  width: 365px;
  flex-basis: 365px;
  background-color: var(--mb-color-bg-light);

  &:last-child {
    background-color: var(--mb-color-background);
  }
}

.modalContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
